{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Cápitan América</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/capitan-america.png" alt="" class="img-thumbnail">
    </div>
</div>


{{> footer}}
